<a href="https://colab.research.google.com/github/Greekmy/python/blob/main/Dataframe_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! [ -e /content ] && pip install -Uqq fastbook
import fastbook
fastbook.setup_book()
from fastbook import *

     |████████████████████████████████| 719 kB 3.5 MB/s
     |████████████████████████████████| 365 kB 37.5 MB/s
     |████████████████████████████████| 4.7 MB 17.3 MB/s
     |████████████████████████████████| 1.3 MB 15.7 MB/s
     |████████████████████████████████| 115 kB 47.3 MB/s
     |████████████████████████████████| 101 kB 3.2 MB/s
     |████████████████████████████████| 141 kB 49.6 MB/s
     |████████████████████████████████| 212 kB 51.7 MB/s
     |████████████████████████████████| 596 kB 37.0 MB/s
     |████████████████████████████████| 127 kB 48.8 MB/s
     |████████████████████████████████| 6.6 MB 28.3 MB/s
Mounted at /content/gdrive

In [2]:
import pandas as pd
temperatures = pd.Series([23, 20, 25, 18])
temperatures

0    23
1    20
2    25
3    18
dtype: int64

In [8]:
temperatures = pd.Series([23, 20, 25, 18], index=['TOP', 'OUN', 'DAL', 'DEN'])
temperatures
temperatures['DAL']
temperatures[['DAL', 'OUN']]
temperatures[temperatures > 20]
temperatures + 2
dps = {'TOP': 14,
       'OUN': 18,
       'DEN': 9,
       'PHX': 11,
       'DAL': 23}

dewpoints = pd.Series(dps)
dewpoints

TOP    14
OUN    18
DEN     9
PHX    11
DAL    23
dtype: int64

In [9]:
dps = {'TOP': 14,
       'OUN': 18,
       'DEN': 9,
       'PHX': 11,
       'DAL': 23}

dewpoints = pd.Series(dps)
dewpoints

TOP    14
OUN    18
DEN     9
PHX    11
DAL    23
dtype: int64

In [11]:
'PHX' in dewpoints
'PHX' in temperatures

False

In [12]:
temperatures.name = 'temperature'
temperatures.index.name = 'station'

In [13]:
temperatures

station
TOP    23
OUN    20
DAL    25
DEN    18
Name: temperature, dtype: int64

In [17]:
dps = {'TOP': 4,
       'OUN': 8,
       'DEN': 9,
       'DAL': 23}

pressure = pd.Series(dps)
pressure
pressure.name = 'pressure'
pressure.index.name = 'station'
print(pressure[dewpoints > 15])

station
DAL    23
Name: pressure, dtype: int64

In [42]:
data = {'station': ['TOP', 'OUN', 'DEN', 'DAL'],
        'temperature': [23, 20, 25, 18],
        'dewpoint': [14, 18, 9, 23]}

df = pd.DataFrame(data)
df
#Similar show
df['temperature']
df.dewpoint
df['wspeed'] = 0.
df
df.index = df.station
df
df = df.drop('station', axis='columns')
df
df['pressure'] = pd.Series([1010,1000,998,1018], index=['DEN','TOP','DAL','OUN'])
df
#Row of the data frame
df.loc['DEN']
df.T
df.values #matrix format
df.temperature.values#

array([23, 20, 25, 18])

In [46]:
#Important
df['rainfall'] = pd.Series([30,100,9,10], index=['DEN','TOP','DAL','OUN'])
df
df['rain'] = [0, 0.4, 0.2, 0]
df.dewpoint = df.dewpoint - 2
df

         temperature  dewpoint  wspeed  pressure  rainfall  rain
station
TOP               23        10     0.0      1000       100   0.0
OUN               20        14     0.0      1018        10   0.4
DEN               25         5     0.0      1010        30   0.2
DAL               18        19     0.0       998         9   0.0

In [56]:
import pandas as pd
!ls
!wget https://github.com/Unidata/python-workshop/blob/master/notebooks/Pandas/Jan17_CO_ASOS.txt
df = pd.read_csv('Jan17_CO_ASOS.txt', sep='\t')
df

gdrive	Jan17_CO_ASOS.txt  Jan17_CO_ASOS.txt.1	sample_data
--2022-08-13 23:20:04--  https://github.com/Unidata/python-workshop/blob/master/notebooks/Pandas/Jan17_CO_ASOS.txt
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Jan17_CO_ASOS.txt.2’

Jan17_CO_ASOS.txt.2     [ <=>                ] 134.63K  --.-KB/s    in 0.04s

2022-08-13 23:20:04 (3.54 MB/s) - ‘Jan17_CO_ASOS.txt.2’ saved [137864]

                                                                                                                 <!DOCTYPE html>
0     <html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system">
1                                                                                                                         <head>
2                                                                                                         <meta charset="utf-8">
3                                                               <link rel="dns-prefetch" href="https://github.githubassets.com">
4                                                         <link rel="dns-prefetch" href="https://avatars.githubusercontent.com">
...                                                                                                                          ...
1016                                                                                                           </clipboard-copy>
1017                                                                                                                      </div>
1018                                                                                                                 </template>
1019                                                                                                                     </body>
1020                                                                                                                     </html>

[1021 rows x 1 columns]

In [80]:
df.head()
df = pd.read_csv('Jan17_CO_ASOS.txt', sep='\t', parse_dates=True)
df.head()
df = pd.read_csv('Jan17_CO_ASOS.txt', sep='\t', parse_dates=True, na_values='M')

df.head()
df.columns
df.columns = ['station']
df.head()
df.columns
df.columns = ['station']
len(df)

1021